.side-bar
  .side-bar__header
    .side-bar__header__username
      .side-bar__header__username__left
        = current_user.name
      .side-bar__header__username__right
        = link_to new_group_path,class:"side-bar__header__username__left__btn" do
          = icon('far', 'edit',class:'post')
        = link_to edit_user_path(current_user), class:"side-bar__header__username__right__btn" do
          = icon('fas', 'cog',class:'set')
        
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        aaa
        = link_to '#' do
          .side-bar__group-list__name
            .side-bar__group-list__name__teamname
              = group.name
            .side-bar__group-list__name__new
              まだメッセージがありません
        
        
